<h1>Editing telemetry</h1>

<%= render "form", telemetry: @telemetry %>

<br>

<div>
  <%= link_to "Show this telemetry", @telemetry %> |
  <%= link_to "Back to telemetries", telemetries_path %>
</div>
